@font-face {
    font-family: "DM Sans";
    src: url("./fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

body {
    background-color: rgba(245, 245, 245);
    font-family: "DM Sans", sans-serif;
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    font-family: "DM Sans";
    
}

.top_left {
    grid-row: span 3 / span 3;
    background-color:hsl(31, 66%, 93%);
    border-radius: 15px;
    font-family: DM Sans;
    color: black;
    font-size: 80px;
    text-align: center;
    font-family: "DM Sans";
 
}
.top_center {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    background-color: hsl(256, 67%, 59%);
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 90px;
    line-height: 1;
    font-family: "DM Sans";
 
}

.bottom_left {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    background-color:hsl(39, 100%, 71%) ;
    border-radius: 15px;
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin: 0 auto 5px auto;
    text-align: center;
    padding: 20px;
}
.bottom_left img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 15px auto 0 auto
}

.far_right {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
    background-color: hsl(254, 88%, 90%);
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
.far_right img {
    width: 100%;    
    max-width: 300px;
    margin: 10px auto;
    display: block;
}


.bottom_middle {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: hsl(31, 66%, 93%);
    border-radius: 15px;
    font-size: 50px;
    background-color: white; 
}

.bottom_right {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    background-color: hsl(256, 67%, 59%);
    border-radius: 15px;
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 20px;

}
.bottom_right img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto 5px auto;
}

.middle {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    background-color:hsl(39, 100%, 71%) ;
    border-radius: 15px;
    font-size: 60px;
}
.middle img {
    display: block;
    margin: 0 auto;
}
.left_bottom{
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
    background-color:hsl(31, 66%, 93%);
    border-radius:15px;
    font-size: 80px;
    text-align: center;
    background-color: white;
}
.far_right .small_text {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.normal_text {
    text-align: center;
    font-size: large;
}
.litte_right_text {
    font-size: small;
}
@media (max-width: 900px) {
    .parent {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .parent >div {
        flex: 1 1 100%;
        width: 100%;
        box-sizing: border-box;

        grid-column: auto;
        grid-row: auto;
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }

    .parent img {
        max-width: 100%;
        height: auto;
    }
}