.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}

.top_left {
    grid-row: span 3 / span 3;
}

.top_center {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.bottom_left {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}

.far_right {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
}

.bottom_middle {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

.bottom_right {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

.middle {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div12 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
}